<!DOCTYPE html>
<html>
<head>
    <title>Octiq</title>
    <link rel="stylesheet" href="{{ app.url }}/views/assets/dist/css/core.min.css" />
</head>
<body>

    {% block body %}
    {% endblock %}

</body>
</html>